.rd-ui-switch-box {
    width: 50px;
    height: 26px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.rd-ui-switch-box .rd-ui-switch-mov {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: white;
    text-align: center;
    font-size: 12.5px;
    line-height: 20px;
}

.rd-ui-switch-input:checked ~ .rd-ui-switch-box {
    background: rgb(132, 132, 255);
}

.rd-ui-switch-input:checked ~ .rd-ui-switch-box .rd-ui-switch-mov {
    left: 90%;
    transform: translateY(-50%) translateX(-90%);
}

.rd-ui-switch-box, .rd-ui-switch-mov {
    transition: all 0.2s;
}

.rd-ui-switch-box-disabled {
    cursor: default;
}