.rd-ui-button {
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    background: rgb(106, 146, 255);
    color: white;
    cursor: pointer;
    transition: filter 0.1s;
}

.rd-ui-button-if:hover {
    filter: opacity(0.975) drop-shadow(0 0 black);
}

.rd-ul-button-disabled {
    filter: opacity(0.6) drop-shadow(0 0 whitesmoke);
    cursor: default;
}